@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Dancing+Script&family=Dongle:wght@300;400;700&family=Fredoka+One&family=Itim&family=Roboto&family=Signika+Negative:wght@400;600&display=swap');
.container{
  width:50%;
  max-width: 500px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .25rem;
  padding: 65px 145px;
  border-radius: 17px;
  margin-top: 80px;
  margin-left: 420px;
  margin-left: 110vh;
}
.head h4{
 margin-top: 30vh;
 position: fixed;
 margin-left: 30px;
 font-family: 'Dancing Script';
 font-weight: bold;
 font-size: 65px;
 text-transform: capitalize;
}
.headd h5{
  margin-top: 45vh;
  position: fixed;
  margin-left: 300px;
}